!!! 5
%html
  %head
    %meta{'http-equiv' => 'content-type', 'content' => 'text/html', 'charset' => 'utf-8'}
    %meta{'name' => 'robots', 'content' => 'nofollow, noindex'}
    %title Experimental Apps
  %body
    ~ markdown(:index, layout: false, autolink: true, fenced_code_blocks: true)
